/*Don't know if this is a good idea, 
but am going to use a single css file for all my pages, crazzy right?
i think it will ensure consistency, and make it easier to reuse styles.
i really hope this end well*/


/*Section1: Index.html css starts from here, some of the things included here 
are used in other pages, e.g Nav menu, footer.*/

/*General styles*/


body,
html{
    width: 100%;
    margin: 0px;
    font-family: 'segoe UI';
    text-decoration: none;
}


body,
header,
footer,
section,
main,
article{
    box-sizing: border-box;
}


header{
    width: 100%;
}


li{
    list-style: none;
}



.whole-container{
    width: 100%;
    margin: 0;
}


.top-container{
    width: 100%;
    max-height: 200px;
    padding: 0;
    color: #fff;
    background-image: url("../img/homeimage.jpg")
}



.head{
    width: 100%;
    margin: 0;
}


.header-image{
    width: 100%;
    height: 100%;
}


.logo{
    width: 20%;
    margin: 10px;
}


.hamburger{
    float: right;
    width: 8%;
    margin: 10px;
}


.head-desc{
    font-size: 0.8em;
    width: 70%;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 10%;
}


.head h3{
    margin: 3%;
    margin-top: 15%;
    margin-bottom: 2%;
    width: 95%;
    font-size: 1.4em;
    text-align: center;
}

/*Menu starts here
it is applied to all pages with menu*/




.nav-opacity{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -20%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
}
.side-nav{
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1; /* stay on top*/
    top: 0;
    right: -80%;
    background-color: rgb(243, 242, 242);
    overflow-x: hidden;
    padding-top: 15px;
    transition: 0.5s; /* 0.5 seconds to slide in the sidenav*/
}


.side-nav a{
  padding: 5px 5px 5px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #111;
  display: block;
  transition: 0.5s;
}


.side-nav a:hover{
  background-color: #ED164F;
  color: #fff;
  transition: 0.3s;
}

.nav-logo{
  margin-left: 25%;
}

.side-nav .close-btn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size:36px;
  margin-left: 50px;
}


.side-nav .close-btn:hover{
  color: #ED164F;
  background-color: rgb(243, 242, 242);
}


.side-nav .nav-links{
  margin-top: 20px;
}


.side-nav hr{
  margin: 10px;
  border-color: #999;
}

/*Menu ends here*/

/* Index.html starts here*/


.main{
    margin: 10px;
    padding: 10px;
}


.search{
    margin-bottom: 10px;
    width: 100%;
}


label{
    font-size: 0.8em;
}


.form-date{
    width: 48%;
    margin-right: 4%;
    float: left;
   }


.form-time{
    width: 48%;
    float: right;
}


.butn{
    width: 100%;
    border-radius: 5px;
    border: 0px solid;
    padding: 6px;
    font-weight: bold;
    height: 40px;
}


.butn:hover{
    box-shadow: 2px 2px 5px #c4c4c4;
}

.btn-search{
    background-color: #ED164F;
    color: #fff;
    margin: 5px 0;
}


.btn-search:hover{
    background-color: rgb(240, 54, 104)
}


.btn-tour{
    width: 100%;
    background-color: #fff;
    color: #ED164F;
    border: 1px solid #ED164F;
}


.btn-tour:hover{
    background-color: rgb(253, 246, 246);
}

.testimonials{
    width: 100%;
    margin: 0;
    margin-top: 30px;
}


.test-text{
    font-size: 1.1em;
    width: 65%
}


.scrolling-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 30px;
}


.scrolling-wrapper::-webkit-scrollbar{
    display: none;
}


.test-card{
    flex: 0 0 auto;
    width: 40%;
    min-height: 250px;
    margin-right: 10px;
    font-size: 0.8em;
    color: #000;
}


.thumbs{
    width: 100%;
    height: 40%;
}


.rate-star{
    display: inline-block;
    margin-right: -2px;
    width: 15px;
}


.profile-icon{
    width: 3.5em;
    float: left;
}


.profile-name{
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    display: inline;
}

.profile-location{
    display: block;
}


.footer{
    width: 100%;
    padding: 10px;
    bottom: 0;
}


.footer hr{
    border-width: 2px;
    border-color: #c4c4c4;
    margin-left: -10px;
    margin-right: -10px;
}


.footer-items{
    width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
}


/*Section1 and index.html style ends here*/




/*Section2: This section is for register.html*/

.signup-header{
    display: block;
    padding: 0.1em;
    margin: 0;
}
.signup-main{
    display: block;
    margin: 20% 2em 2em;
}


.signup-logo{
    width: 40%;
    margin-left: 25%;
    margin-right: auto;
}


.sign-form{
    margin-top: 3em;
}


.sign-form label{
    text-decoration: none;
    font-size: 1em;
}


.btn-signup{
    width: 50%;
    background-color: #999;
    margin-left: 25%;
    margin-right: auto;
    color: #fff;
}


.alt-signup{
  margin-left: auto;
  margin-right: auto;
}


.alt-signup hr{
  width: 44%;
  display: inline-block;
  margin-top: 40px;
  border-color: rgb(185, 182, 182);
}



.alt-signup .or{
  display: inline-block;
  position: relative;
  top: -15px;
  margin: 0 5px;
}


.alt-signup p{
    text-align: center;
}


.alt-signup-icons{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.alt-signup-icons img{
    width: 30px;
    height: 25px;
}
/*Section2 and register.html ends here*/


/*Section3: Style for Log in page starts here*/

.btn-login{
  width: 50%;
  background-color: #ED164F;
  margin-left: 25%;
  margin-right: auto;
  color: #fff;
}


/*Section4: Style for search.html starts here*/


.search-head{
  width: 100%;
  margin: 1em;
}

.search-head input{
  width: 43%;
  margin-left: 1%;
}

.search-head > a > img{
  width: 40%;
}

.photographers{
    width: 100%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.pg-row{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.pg-card{
    width: 49%;
    display: inline-block;
    padding: 0.5em;
}

.pg-card a{
    text-decoration: none;
    color: #000000;
}

.pg-img{
    width: 100%;
    margin-bottom: 1em;
}


.pg-icon{
    width: 3.5em;
    float: left;
}

.pg-list{
    display: inline;
}


.pg-list li{
    list-style: none;
}


.pg-name{
    font-weight: bold;
    font-size: 1em;
}

.pg-price{
    font-size: 0.8em;
}


.pg-star{
    width: 0.9em;
    margin-right: -2px;
}

.pg-dot{
    width: 0.5em;
}

.pg-button{
  width: 100%;
  height: 2.3em;
  background-color: #fff;
  border: 0.1em solid #ED164F; 
}

.pg-desc{
  width: 100%;
  margin-top: 1em;
}


.pg-desc p img{
  width: 20%;
}


/*photographer.html starts here*/


.pg-container{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}


.p-g{
    width: 100%;
    margin: 0 0%

}


.image-objects{
    position: absolute;
    top: 30px;
    right: 10px;
}


.btn-more{
    width: 35%;
    position: absolute;
    right: 20px;
    bottom: 40px;
}


.pg-db{
    margin: 1em;
    padding: 0;
    display: block;
    width: 100%;
}


.pg-pr{
    width: 48%;
    float: left;
}


.pg-pr > li{
    margin: 0;
}


.p-price > span{
    font-size: 1.8em;
}


.book-pg{
    width: 45%;
    height: 3em;
    margin: 0;
    padding: 0;
    position: sticky;
    top: -1;
    background-color: #ED164F;
    border: 0;
    color: #ffffff;
    font-size: 1.3em;
}


.p-star{
    width: 1.2em;
    margin: 0 -0.2em;
}


.p-nld{
    margin: 1em;
}
/* To be removed when building desktop responsive*/

@media screen and (min-width: 450px){
    body, html{
        width: 450px;
        margin: auto;
    }
}