/*Don't know if this is a good idea, 
but am going to use a single css file for all my pages, crazzy right?
i think it will ensure consistency, and make it easier to reuse styles.
i really hope this end well*/


/*Section1: Index.html css starts from here, some of the things included here 
are used in other pages, e.g Nav menu, footer.*/

/*General styles*/


body,
html{
    width: 100%;
    margin: 0px;
    font-family: 'segoe UI';
    text-decoration: none;
}


body,
header,
footer,
section,
main,
article{
    box-sizing: border-box;
}


header{
    width: 100%;
}


li{
    list-style: none;
}


article{
    text-align: justify;
}



.whole-container{
    width: 100%;
    margin: 0;
}


.top-container{
    width: 100%;
    height: 220px;
    padding: 0;
    color: #fff;
    background-image: url("../img/homeimageD.png");
    background-repeat: no-repeat;
    background-size: 100%;
}



.head{
    width: 100%;
    margin: 0;
}


.logo{
    width: 150px;
    margin: 10px;
}


.hamburger{
    float: right;
    width: 40px;;
    margin: 0 10px 0 2px;
}


.head-text > h3{
    margin: 40px auto 10px;
    max-width: 500px;
    font-size: 1.3em;
    text-align: center;
}


.head-desc{
    font-size: 0.8em;
    width: 300px;
    margin: 0 auto 10px;
}



.search-f{
    display: none;
}


.head-links{
    display: none;
}



/*Menu starts here
it is applied to all pages with menu*/




.nav-opacity{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -20%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
}
.side-nav{
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1; /* stay on top*/
    top: 0;
    right: -80%;
    background-color: rgb(243, 242, 242);
    overflow-x: hidden;
    padding-top: 15px;
    transition: 0.5s; /* 0.5 seconds to slide in the sidenav*/
}


.side-nav a{
  padding: 5px 5px 5px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #111;
  display: block;
  transition: 0.5s;
}


.side-nav a:hover{
  background-color: #ED164F;
  color: #fff;
  transition: 0.3s;
}

.nav-logo{
  margin-left: 25%;
}

.side-nav .close-btn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size:36px;
  margin-left: 50px;
}


.side-nav .close-btn:hover{
  color: #ED164F;
  background-color: rgb(243, 242, 242);
}


.side-nav .nav-links{
  margin-top: 20px;
}


.side-nav hr{
  margin: 10px;
  border-color: #999;
}

/*Menu ends here*/

/* Index.html starts here*/


.main{
    margin: 0;
    padding: 0;
}


section{
    width: 100%;
}


.search{
    margin-bottom: 10px;
    width: 100%;
}


label{
    font-size: 0.8em;
}


.form-date{
    width: 48%;
    margin-right: 4%;
    float: left;
   }


.form-time{
    width: 48%;
    float: right;
}


.butn{
    width: 100%;
    border-radius: 5px;
    border: 0px solid;
    padding: 6px;
    font-weight: bold;
    height: 40px;
}


.butn:hover{
    box-shadow: 2px 2px 5px #c4c4c4;
}

.btn-search{
    background-color: #ED164F;
    color: #fff;
    margin: 5px 0;
}


.btn-search:hover{
    background-color: rgb(240, 54, 104)
}


.btn-tour{
    width: 100%;
    background-color: #fff;
    color: #ED164F;
    border: 1px solid #ED164F;
}


.btn-tour:hover{
    background-color: rgb(253, 246, 246);
}


.fap-btn{
    width: 20%;
    height: 40px;
    background-color: #ED164F;
    color: #fff;
    margin: 0 0 0 2.5em;
    border: none;
    border-radius: 0.5em;
    display: none;
}


.bc-ptg{
    display: none;
}

.testimonials{
    width: 100%;
    margin: 0;
    margin-top: 30px;
}


.test-text{
    font-size: 1.1em;
    width: 65%
}


.scrolling-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 30px 0 0;
}


.scrolling-wrapper::-webkit-scrollbar{
    display: none;
}


.test-card{
    flex: 0 0 auto;
    width: 40%;
    min-height: 250px;
    margin-right: 10px;
    font-size: 0.8em;
    color: #000;
}


.thumbs{
    width: 100%;
    height: 40%;
}


.rate-star{
    display: inline-block;
    margin-right: -7px;
    width: 20px;
}


.profile-icon{
    width: 3.5em;
    float: left;
}


.profile-name{
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    display: inline;
}

.loc-dat{
    display: block;
}


.footer{
    width: 100%;
    padding: 10px;
    bottom: 0;
}


.footer hr{
    border-width: 2px;
    border-color: #c4c4c4;
    margin-left: -10px;
    margin-right: -10px;
}





/*Section1 and index.html style ends here*/




/*Section2: This section is for register.html*/

.signup-header{
    display: block;
    padding: 0.1em;
    margin: 0;
}
.signup-main{
    display: block;
    margin: 20% 2em 2em;
}


.signup-logo{
    width: 40%;
    margin-left: 25%;
    margin-right: auto;
}


.sign-form{
    margin-top: 3em;
}


.sign-form label{
    text-decoration: none;
    font-size: 1em;
}


.btn-signup{
    width: 50%;
    background-color: #999;
    margin-left: 25%;
    margin-right: auto;
    color: #fff;
}


.alt-signup{
  margin-left: auto;
  margin-right: auto;
}


.alt-signup hr{
  width: 44%;
  display: inline-block;
  margin-top: 40px;
  border-color: rgb(185, 182, 182);
}



.alt-signup .or{
  display: inline-block;
  position: relative;
  top: -15px;
  margin: 0 5px;
}


.alt-signup p{
    text-align: center;
}


.alt-signup-icons{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.alt-signup-icons img{
    width: 30px;
    height: 25px;
}
/*Section2 and register.html ends here*/


/*Section3: Style for Log in page starts here*/

.btn-login{
  width: 50%;
  background-color: #ED164F;
  margin-left: 25%;
  margin-right: auto;
  color: #fff;
}


/*Section4: Style for search.html starts here*/


.search-head{
  width: 100%;
  margin: 1em;
}

.hdr-search{
  width: 45%;
  height: 35px;
  margin: 0 0 0 1em;
  border-radius: 5px;
  border: 1px solid #999;
  padding: 0 0 0 3em;
  background: white;
  background-image: url('../svg/search-icon.svg');
  background-size: 35px;
  background-position: 0 -32px;
  background-repeat: no-repeat;
}

.search-head > a > img{
  width: 110px;
}

.home-pgs{
    display: none;
    margin: 5em 0 0;
}

.home-pgs h2{
    margin: 0 0 0.5em 3em;
}

.pg-row{
    display: block;
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}


.pg-card{
    width: 28%;
    display: inline-block;
    padding: 0.5em;
}

.pg-card a{
    text-decoration: none;
    color: #000000;
}

.pg-img{
    width: 100%;
    margin-bottom: 1em;
}


.pg-icon{
    width: 3.5em;
    float: left;
}

.pg-list{
    display: inline;
}


.pg-list li{
    list-style: none;
}


.pg-name{
    font-weight: bold;
    font-size: 1em;
}

.pg-price{
    font-size: 0.8em;
}


.pg-star{
    width: 1.2em;
    margin-right: -5px;
}

.pg-dot{
    width: 0.5em;
}

.pg-button{
  width: 100%;
  height: 2.3em;
  background-color: #fff;
  border: 0.1em solid #ED164F; 
}


.desc-sec{
    margin: 0 1em 3em;
}

.pg-desc{
  display: none;
}


/*photographer.html starts here*/


.p-container{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}


.p-g{
    width: 100%;
    margin: 0 0%

}


.image-objects{
    position: absolute;
    top: 30px;
    right: 10px;
}


.btn-more{
    width: 35%;
    position: absolute;
    right: 20px;
    bottom: 40px;
}


.btn-more:hover{
    background-color: #c4c4c4;
}


.nv-scon{
    display: none;
}


.pg-db{
    margin: 1em;
    padding: 0;
    display: block;
    width: 100%;
}


.pg-pr{
    width: 48%;
    float: left;
}


.pg-pr > li{
    margin: 0;
}


.p-price > span{
    font-size: 1.8em;
}


.stc-btn{
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
}


.stc-btn::after{
    content: "";
    clear: both;
    display: table;
}


.book-pg{
    width: 45%;
    height: 3em;
    margin: 0;
    padding: 0;
    background-color: #ED164F;
    border: 0;
    color: #ffffff;
    font-size: 1.3em;
}


.book-pg:hover{
    background-color: rgb(228, 6, 65);
    box-shadow: 0.07em 0 0.8em #999;
}


.p-star{
    width: 1.2em;
    margin: 0 -0.3em;
}


.p-nld{
    margin: 1em;
}


.p-location{
    margin: 0 0 1em 1.2em;
}


.p-details{
    margin-top: 1.3em;
}


.det-group{
    display: inline-block;
    width: 45%;
    padding: 0.3em;
}


.lpg-info{
    display: none;
}


.p-sa{
    text-align: justify;
    font-size: 1.1em;
    margin: 0 0.5em;
    display: flex;
    flex-direction: column;
}


.t-rate{
    display: inline-block;
    margin: 0 0 0 0.5em;
}


.l-star{
    width: 1.1em;
    margin-right: -15px;
}


.t-rating{
    margin: 0.5em;
}


.slim-hr{
    border: 0.8px solid #dad7d7;
    width: 100%;
}


.rating-x{
    font-size: 1.5em;
    width: 100%;
    display: block;
    margin-bottom: 0.5em;
}



.x-rate{
    float: right;
}


.x-star{
    width: 1.5em;
    margin: 0 0 0 -13px;
}


.rate-story{
    width: 100%;
    margin: 1em 0 0;
}


.prf-icon{
    width: 3.5em;
    float: left;
}


.rtr-nl{
    position: relative;
    top: 3px;
    left: 15px;
}


.rtr-nm{
    font-size: 1.2em;
}


.rtr-star{
    width: 1.5em;
    margin-left: -8px;
}


#rtr-artcl{
    text-align: justify;
}


.vf-det{
    width: 100%;
    display: block;
}



/* First Media Query for small screen size*/


@media screen and (max-width: 355px){



    .search-head > a > img{
        width: 90px;
    }


    .hdr-search{
        width: 42%;
    }


    .hamburger{
        width: 30px;
    }


    .t-rating > h2 > strong{
        font-size: 0.8em;
    }

    .slim-hr{
        width: 90%;
        margin: 0.5em 0 0.5em 2%;
        padding: 0;
    }
}


/* First MEdia Query to adjust mobile view from 420px to 750above for better visibility*/




@media screen and (min-width: 450px) and (max-width: 750px){
    .top-container{
        height: 250px;
    }


    .head-text > h3{
        margin: 40px auto 10px;
        max-width: 500px;
        font-size: 1.7em;
        text-align: center;
    }
    
    
    .head-desc{
        font-size: 1em;
        width: 400px;
        margin: 0 auto 10px;
    }


    .pg-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }    


    /*photographer.html*/
    .hdr-search{
        width: 55%
    }

    
    .p-g{
        height: auto;
    }


    .btn-more{
        width: 150px;
    }


    .book-pg{
        width: 200px;
        float: right;
    }


    .p-container{
        background-image: url('../img/photograph.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 350px;
    }
    
    
    .p-g{
        display: none;
    }
}



/**/


/*Second Media Query to change display to Desktop view from 751px above*/


@media screen and (min-width: 751px){
    .top-container{
        height: 400px;
        background-size: 100%;
    }
    
    
    .hamburger{
        display: none;
    }


    .head-text{
        margin: 7em 0 0;
    }


    .head-text > h3{
        max-width: 800px;
        font-size: 2.5em;
    }
    
    
    .head-desc{
        font-size: 1.4em;
        width: 600px;
    }


    .search-f{
        display: block;
        width: 600px;
        margin: 0 auto;
    }


    .search-f input[type=text]{
        width: 80%;
        height: 35px;
        float: left;
        box-sizing: border-box;
        border: 1px solid #ED164F;
        border-radius: 5px 0 0 5px;
        background: white;
        background-image: url('../svg/search-icon.svg');
        background-size: 35px;
        background-position: 0 -32px;
        background-repeat: no-repeat;
        padding: 0px 20px 0px 60px;
        font-size: 1em;
        color: rgb(85, 84, 84);
        margin: 0 auto;
    }


    .src-btn{
        width: 20%;
        height: 35px;
        float: left;
        padding: 5px;
        background: #ED164F;
        border: 1px solid #ED164F;
        border-radius: 0 5px 5px 0;
        border-left: none;
        cursor: pointer;
    }


    .src-btn:hover{
        background-color: rgb(219, 20, 73);
        border-color:   rgb(219, 20, 73);
    }


    .search-f::after{
        content: "";
        clear: both;
        display: table;
    }


    .search{
        display: none;
    }


    .home-pgs{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }


    .pg-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }


    .p-sa{
        flex-direction: column-reverse;
    }


    .pg-desc{
        width: 100%;
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }


    .pg-ifv{
        position: relative;
    }


    .pg-fav{
        position: absolute;
        top: 20px;
        right: 20px;
    }


    .desc-info{
        padding: 0.5em;
        width: 21%;
        border: 1.5px solid #ED164F;
        border-radius: 15px;
        margin: 0 1em 1em;;
    }


    .desc-info > h4{
        margin: 0;
        padding: 0;
        font-size: 1em;
    }


    .desc-img{
        width: 100px;
        height: 100px;
        margin: 0 auto 1em;
        padding: 0.5em;
    }


    .desc-txt{
        text-align: justify;
    }


    .fap-btn{
        display: unset;
    }


    .bc-ptg{
        display: unset;
        position: relative;
        box-sizing: border-box;
    }


    .bp-txt{
        position: absolute;
        top: -30px;
        left: 100px;
        color: #fff;
    }


    .bp-btn{
        width: 60%;
        height: 3em;
        display: block;
        margin: 1em 0 0;
        border: 0 solid;
        border-radius: 5px;
        background-color: rgb(49, 49, 49);
        font-weight: bold;
    }


    .bp-btn:hover{
        background-color: #000;
    }


    .mt-pgs{
        margin: 2em;
    }


    .testimonials{
        margin: 4em 0 0;
    }


    .testimonials h3{
        margin: 0 0 0 3em;
        font-size: 1.8em
    }


    .scrolling-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
    }


    .test-card{
        width: 20%;
        height: 5%;
    }


    .no-card{
        display: none;
    }


    .footer{
        background-color: #fff;
        padding: 1em;
        margin: 5em 0 0;
    }


    .footer-items{
        width: 300px;
        margin: 0 auto;
        font-size: 1.8em;
        color: #000;
    }


    .soc-icn{
        width: 2em;
    }


    .soc-icnl{
        width: 2.5em;
    }


    /*photographer.html*/


    .search-head > a > img{
        width: 150px;
    }

    .hdr-search{
        width: 250px;
        transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
    }


    .hdr-search:focus{
        width: 500px;
        height: 40px;
    }


    .head-links{
        float: right;
        display: unset;
        margin: 0 2em 0 0;
    }


    .wht-txt{
        color: white;
        margin: 0.5em 0;
        font-weight: 500;
    }


    .link-items{
        text-decoration: none;
        display: inline-block;
        padding: 0.5em 1em 0.5em;
        color: inherit;
        font-size: 1.1em;
    }


    .link-items:hover{
        background-color: #ED164F;
        border: 0 solid;
        border-right: 1px;
        border-radius: 5px;
        color: #fff;
    }


    .link-items > a{
        text-decoration: none;
        color: inherit;
    }
    
    .p-container{
        background-image: url('../img/lphotograph.png');
        background-repeat: no-repeat;
        background-size: 100%;
        height: 450px;
    }
    
    
    .p-g{
        display: none;
    }


    .img-obj{
        width: 40px;
        padding: 0.2em;
    }


    .btn-more{
        width: 150px;
    }


    .book-pg{
        width: 200px;
    }


    .hlf-cls{
        width: 50%;
        height: auto;
        padding: 0 0 0 2em;
        margin: 0 0 0 4em;
    }

    .pg-pics{
        width: 100%;
        position: relative;
    }


    .nv-scon{
        position: sticky;
        -webkit-position: sticky;
        top: -1px;
        width: 100%;
        display: unset;
    }


    .nv-ss{
        padding: 0 8em;
    }


    .nv-pg{
        display: inline-block;
        font-size: 1.2em;
    }


    .nv-pg > a{
        text-decoration: none;
        color: #999;
    }


    .nv-pg > a:hover{
        color: #ED164F;
    }


    .nv-pg > a:active{
        color: #ED164F;
    }


    .img-actn{
        float: right;
        color: #999;
    }


    .pg-db{
        display: none;
    }

    #PgName{
        font-size: 2.5em;
    }


    .p-location{
        font-size: 1.5em;
    }


    .det-group{
        display: inline-block;
        width: 30%;
    }


    .ldsp-nne{
        display: none;
    }


    .lpg-info{
        display: unset;
        padding: 2em;
        border: 1px solid #c4c4c4;
        float: right;
        width: 35%;
        margin: 0 3em 0 0;
        position: sticky;
        position: -webkit-sticky;
        top: 1px;
    }

    .pg-pr{
        margin: 0 0 2em 0;
    }

    .half-frm{
        width: 45%;
        display: inline-block;
    }


    .psbmt-btn{
        width: 100%;
        height: 3em;
        background-color: #ED164F;
        border: none;
        color: #fff;
        font-size: 1.2em;
        border-radius: 5px;
    }
}


@media screen and (min-width: 752px) and (max-width: 975px){
    .p-container{
        height: 320px;
    }
}


/*Third Media Query to give a fixed width and auto mergin left and right*/
media screen and (min-width: 960px){
    html{
        width: 960px;
        margin: 0 auto;
    }
}